<widget id="A6942619673029" version="0.0.1">

    <name>泰迪圈</name>

    <description>

        Example For 肖志兵.

    </description>

    <author email="a9126@qq.com" href="http://www.taidi.love">

        Developer

    </author>
    <feature name="smsVerify">
        <param name="android_app_key" value="1f71754f851d9"/>
        <param name="android_app_secret" value="69235fde1846eed998b8f527ec7858bb"/>
        <param name="ios_app_key" value="1f71754f851d9"/>
        <param name="ios_app_secret" value="69235fde1846eed998b8f527ec7858bb"/>
    </feature>

    <content src="index.html"/>

    <access origin="*"/>

    <preference name="pageBounce" value="false"/>

    <preference name="appBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

    <preference name="hScrollBarEnabled" value="true"/>

    <preference name="vScrollBarEnabled" value="true"/>

    <preference name="autoLaunch" value="true"/>

    <preference name="fullScreen" value="false"/>

    <preference name="autoUpdate" value="true"/>

    <preference name="smartUpdate" value="false"/>

    <preference name="debug" value="true"/>

    <preference name="statusBarAppearance" value="true"/>

    <permission name="readPhoneState"/>

    <permission name="camera"/>

    <permission name="record"/>

    <permission name="location"/>

    <permission name="fileSystem"/>

    <permission name="internet"/>

    <permission name="bootCompleted"/>

    <permission name="hardware"/>

</widget>